
# creat and activate the vertual enviroment 
python -m venv venv
venv/Scripts/activate
#install telethon
pip install telethon
#install python-dotenv
pip install python-dotenv
!pip install pyspellchecker
import nltk
from nltk.tokenize import word_tokenize
pip install dbt
pip install mysql-connector-python
pip install pymysql